In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import numpy as np
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Muriti,TZ,2022-07-08 00:44:51,-1.9833,32.9167,72.05,59,96,16.60
1,1,Nanortalik,GL,2022-07-08 00:44:51,60.1432,-45.2371,43.43,93,43,3.47
2,2,Cape Town,ZA,2022-07-08 00:42:31,-33.9258,18.4232,61.38,90,40,3.00
3,3,Barrow,US,2022-07-08 00:44:52,71.2906,-156.7887,42.82,87,100,8.05
4,4,Tiksi,RU,2022-07-08 00:44:52,71.6872,128.8694,39.69,65,100,8.55

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent coudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Kulhudhuffushi,MV,2022-07-08 00:44:52,6.6221,73.0700,81.86,83,78,18.54
10,10,Cusuna,HN,2022-07-08 00:44:54,15.8500,-85.2333,77.67,85,0,5.48
19,19,High Level,CA,2022-07-08 00:44:56,58.5169,-117.1360,77.11,50,75,10.36
26,26,Yellowknife,CA,2022-07-08 00:40:05,62.4560,-114.3525,79.32,27,20,11.50
30,30,Dingzhou,CN,2022-07-08 00:44:59,38.5131,114.9956,84.31,54,0,6.35
34,34,Albany,US,2022-07-08 00:45:00,42.6001,-73.9662,75.16,71,100,2.64
36,36,Vila Velha,BR,2022-07-08 00:43:34,-20.3297,-40.2925,75.15,87,40,3.44
43,43,Axim,GH,2022-07-08 00:45:03,4.8699,-2.2405,75.78,84,100,9.06
45,45,Aklavik,CA,2022-07-08 00:42:21,68.2191,-135.0107,89.31,24,10,10.18
46,46,Butaritari,KI,2022-07-08 00:46:04,3.0707,172.7902,81.72,77,22,15.37

In [11]:
print(preferred_cities_df.count())
preferred_cities_df.isnull().sum()

City_ID       208
City          208
Country       208
Date          208
Lat           208
Lng           208
Max Temp      208
Humidity      208
Cloudiness    208
Wind Speed    208
dtype: int64

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
5   Kulhudhuffushi      MV     81.86   6.6221   73.0700
10          Cusuna      HN     77.67  15.8500  -85.2333
19      High Level      CA     77.11  58.5169 -117.1360
26     Yellowknife      CA     79.32  62.4560 -114.3525
30        Dingzhou      CN     84.31  38.5131  114.9956
34          Albany      US     75.16  42.6001  -73.9662
36      Vila Velha      BR     75.15 -20.3297  -40.2925
43            Axim      GH     75.78   4.8699   -2.2405
45         Aklavik      CA     89.31  68.2191 -135.0107
46      Butaritari      KI     81.72   3.0707  172.7902

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Kulhudhuffushi,MV,81.86,6.6221,73.0700,Haajy Guest House 1
10,Cusuna,HN,77.67,15.8500,-85.2333,San Francisco de la paz
19,High Level,CA,77.11,58.5169,-117.1360,Days Inn by Wyndham High Level
26,Yellowknife,CA,79.32,62.4560,-114.3525,The Explorer Hotel
30,Dingzhou,CN,84.31,38.5131,114.9956,宜家时尚宾馆
36,Vila Velha,BR,75.15,-20.3297,-40.2925,Hotel Vitória Palace
43,Axim,GH,75.78,4.8699,-2.2405,Axim Beach Resort And Spa
45,Aklavik,CA,89.31,68.2191,-135.0107,Aklavik Inn
46,Butaritari,KI,81.72,3.0707,172.7902,Isles Sunset Lodge
48,Chechat,IN,82.26,24.7667,75.8833,"Shri raghunath palace, hotal & restrorent"

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))