## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/ugoch/Documents/UNCch_Bootcamp/Challenge_6/World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cockburn Town,TC,21.4612,-71.1419,81.70,77,2,19.62,clear sky
1,1,Chernyshevskiy,RU,63.0128,112.4714,64.94,51,100,9.06,overcast clouds
2,2,Cao Bang,VN,22.6667,106.2500,79.97,95,100,3.83,overcast clouds
3,3,Kapaa,US,22.0752,-159.3190,78.78,84,100,17.27,overcast clouds
4,4,Ushuaia,AR,-54.8000,-68.3000,28.06,80,0,9.22,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?: "))
max_temp = float(input("What is the maximum temperature you would like for your trip?: "))

What is the minimum temperature you would like for your trip?: 75
What is the maximum temperature you would like for your trip?: 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
user_pref_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
user_pref_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cockburn Town,TC,21.4612,-71.1419,81.70,77,2,19.62,clear sky
2,2,Cao Bang,VN,22.6667,106.2500,79.97,95,100,3.83,overcast clouds
3,3,Kapaa,US,22.0752,-159.3190,78.78,84,100,17.27,overcast clouds
9,9,Luganville,VU,-15.5333,167.1667,78.67,83,100,4.59,overcast clouds
13,13,Rafai,CF,4.9500,23.9167,78.37,71,67,3.11,broken clouds
22,22,Lodja,CD,-3.4833,23.4333,80.94,30,10,4.83,clear sky
24,24,Kahului,US,20.8947,-156.4700,78.82,80,40,18.41,scattered clouds
26,26,Olhao,PT,37.0286,-7.8411,75.29,71,0,6.91,clear sky
28,28,Saint Anthony,US,45.0205,-93.2180,75.13,90,75,5.75,moderate rain
30,30,Porto Novo,BJ,6.4965,2.6036,78.62,87,100,7.18,light rain

In [5]:
# 4a. Determine if there are any empty rows.
print(len(user_pref_cities_df))
user_pref_cities_df.count() #if all numbers are same - no empty rows

266

City_ID                266
City                   266
Country                266
Lat                    266
Lng                    266
Max Temp               266
Humidity               266
Cloudiness             266
Wind Speed             266
Current Description    266
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#no empty rows - skip

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = user_pref_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cockburn Town,TC,81.70,clear sky,21.4612,-71.1419,
2,Cao Bang,VN,79.97,overcast clouds,22.6667,106.2500,
3,Kapaa,US,78.78,overcast clouds,22.0752,-159.3190,
9,Luganville,VU,78.67,overcast clouds,-15.5333,167.1667,
13,Rafai,CF,78.37,broken clouds,4.9500,23.9167,
22,Lodja,CD,80.94,clear sky,-3.4833,23.4333,
24,Kahului,US,78.82,scattered clouds,20.8947,-156.4700,
26,Olhao,PT,75.29,clear sky,37.0286,-7.8411,
28,Saint Anthony,US,75.13,moderate rain,45.0205,-93.2180,
30,Porto Novo,BJ,78.62,light rain,6.4965,2.6036,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    # 6e. Make request and retrieve the JSON data from the search. 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.") 
        hotel_df.loc[index, "Hotel Name"] = np.nan

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
print(len(hotel_df))
hotel_df.head(10)

266

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cockburn Town,TC,81.70,clear sky,21.4612,-71.1419,Osprey Beach Hotel
2,Cao Bang,VN,79.97,overcast clouds,22.6667,106.2500,khách sạn 88
3,Kapaa,US,78.78,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Luganville,VU,78.67,overcast clouds,-15.5333,167.1667,The Espiritu Hotel
13,Rafai,CF,78.37,broken clouds,4.9500,23.9167,NaN
22,Lodja,CD,80.94,clear sky,-3.4833,23.4333,NaN
24,Kahului,US,78.82,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
26,Olhao,PT,75.29,clear sky,37.0286,-7.8411,Real Marina Residence
28,Saint Anthony,US,75.13,moderate rain,45.0205,-93.2180,Holiday Inn Express Roseville-St. Paul
30,Porto Novo,BJ,78.62,light rain,6.4965,2.6036,Tour Eiffel Hotel Benin

In [10]:
# 7. Drop the rows where there is no Hotel Name.
print(hotel_df.isnull().sum())
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

City                    0
Country                 0
Max Temp                0
Current Description     0
Lat                     0
Lng                     0
Hotel Name             32
dtype: int64

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cockburn Town,TC,81.70,clear sky,21.4612,-71.1419,Osprey Beach Hotel
2,Cao Bang,VN,79.97,overcast clouds,22.6667,106.2500,khách sạn 88
3,Kapaa,US,78.78,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Luganville,VU,78.67,overcast clouds,-15.5333,167.1667,The Espiritu Hotel
24,Kahului,US,78.82,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
26,Olhao,PT,75.29,clear sky,37.0286,-7.8411,Real Marina Residence
28,Saint Anthony,US,75.13,moderate rain,45.0205,-93.2180,Holiday Inn Express Roseville-St. Paul
30,Porto Novo,BJ,78.62,light rain,6.4965,2.6036,Tour Eiffel Hotel Benin
32,Kimbe,PG,81.72,light rain,-5.5502,150.1429,Kimbe Bay Hotel
37,Carnarvon,AU,75.33,clear sky,-24.8667,113.6333,Hospitality Carnarvon

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))